In [2]:
import requests
import pandas as pd

In [39]:
def weather_function(x):
    series=pd.Series(x)
    data1=pd.DataFrame(series['list'])
    data1=data1[['main','weather','dt_txt']]
    data2=pd.DataFrame(series['city'])  
    data2=data2[['name','country']]
    data2=data2.T
    data2=data2['lat']
    main=pd.json_normalize(data1['main'])
    weather=pd.json_normalize(data1['weather'])
    weather=pd.json_normalize(weather[0])
    data3=pd.concat([weather,main], axis=1)
    data3['city']=[data2['name'] for el in range(0,len(data3))]
    data3=data3[['main', 'temp', 'city']]
    data3=pd.concat([data3,data1['dt_txt']], axis=1)
    data3['temp_celsius']=[el-(272.15) for el in data3['temp']]
    data3=data3[data3['dt_txt'].str.contains('12')]
    return data3

In [40]:
def weather_api(city):
    parameters={'q':city,
    'appid':'848d0de82969372b0eb09e4c7106d12f'}
    url='https://api.openweathermap.org/data/2.5/forecast'
    response=requests.get(url=url, params=parameters)
    x=response.json()
    dataf = weather_function(x)
    return dataf

In [41]:
weather_api('Lisbon')

      main    temp    city               dt_txt  temp_celsius
6     Rain  291.73  Lisbon  2022-10-20 12:00:00         19.58
14    Rain  292.97  Lisbon  2022-10-21 12:00:00         20.82
22    Rain  291.38  Lisbon  2022-10-22 12:00:00         19.23
30  Clouds  292.83  Lisbon  2022-10-23 12:00:00         20.68
38    Rain  293.42  Lisbon  2022-10-24 12:00:00         21.27